---
layout: archive
title: "Research Interests"
permalink: /research/
author_profile: true
---

{% include base_path %}

<p><strong>Executive Summary:</strong><br>
For humans, the visual sense is powerful; so much so that it typically dominates other sensory inputs for assessing the physical properties of objects.
However, our conscious perception of the world does not precisely match the visual signal coming into our eyes.
My work is dedicated to unraveling the mystery of how we transform visual signals to perception.
In pursuit of this goal, vision scientists have developed a large variety of powerful tools to explore the brain and improve our understanding of biological vision.
However, many of these tools fail to utilize recent developments in AI technology, namely so-called deep neural networks (DNNs).
On the other hand, the application of tools developed in neuroscience to further our understanding of DNNs is a largely untapped area of research.
As a related juxtaposition, many modern DNNs simultaneously exhibit known shortcomings and lack computational elements found in biology that are hypothesized to remedy such shortcomings.
I propose to address these synchronously, whereby we gain insight into neural computation through application of specialized DNNs to biological data and we simultaneously improve DNNs by incorporating successful strategies from biology.
This approach allows us to test the efficacy of neural computation hypotheses using newly available tools in AI research.
</p>

{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

